imageio-ffmpeg
numpy
Pillow
pyinstaller
faster-whisper==1.2.1
huggingface_hub>=0.34,<1.0
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Media.SpeechSynthesis
winrt-Windows.Storage.Streams
